.elementor-1958 .elementor-element.elementor-element-8c11aba>.elementor-container {
	min-height: 100vh;
}

.elementor-1958 .elementor-element.elementor-element-8c11aba {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-1958 .elementor-element.elementor-element-8c11aba:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-8c11aba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
	background-image: url("../images/woman-training-on-trx-fitness-straps-3PALLBZ.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-1958 .elementor-element.elementor-element-8c11aba>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-630bdd2>.elementor-element-populated {
	margin: -50px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-6c13db0 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-element.elementor-element-6c13db0 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-6c13db0 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-01c13e1 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-element.elementor-element-01c13e1 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-01c13e1 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-08dbf66 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-element.elementor-element-08dbf66 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-08dbf66 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline {
	text-align: left;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h1 {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h2 {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h3 {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h4 {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h5 {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h6 {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline div {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline p {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h1,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h2,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h3,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h4,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h5,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h6,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline div,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span,
.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline p {
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span.ah-words-wrapper {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span.ah-words-wrapper b {
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-fc13ad2 {
	width: auto;
	max-width: auto;
}

.elementor-element.elementor-element-fc13ad2 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 150ms !important;
}

.elementor-widget.elementor-element-fc13ad2 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button {
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: #000000;
	color: #000000;
	background-color: #A6FF00;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #A6FF00;
	border-radius: 500px 500px 500px 500px;
	padding: 18px 40px 18px 40px;
}

.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button:hover,
.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button:focus {
	color: #000000;
	background-color: #9EF300;
	border-color: #9EF300;
}

.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button:hover svg,
.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button:focus svg {
	fill: #000000;
}

.elementor-1958 .elementor-element.elementor-element-6e7fe32>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-6e7fe32 {
	width: auto;
	max-width: auto;
}

.elementor-element.elementor-element-6e7fe32 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-6e7fe32 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-133b410>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-6b740e9 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 100px 0px 60px 0px;
}

.elementor-1958 .elementor-element.elementor-element-ae47e76>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-170eaa5 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-element.elementor-element-170eaa5 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-170eaa5 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-e3e54dd .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-e3e54dd>.elementor-widget-container {
	margin: 0px 0px 0px 100px;
}

.elementor-element.elementor-element-e3e54dd {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-e3e54dd {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-db30260 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-db30260>.elementor-widget-container {
	margin: 0px 0px 0px 20px;
}

.elementor-element.elementor-element-db30260 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-db30260 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-5900820 {
	margin-top: 0px;
	margin-bottom: 100px;
}

.elementor-1958 .elementor-element.elementor-element-0a87687>.elementor-element-populated {
	padding: 0px 40px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-be0649e img {
	border-radius: 15px 15px 15px 15px;
}

.elementor-element.elementor-element-be0649e {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-be0649e {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-40dd5a2>.elementor-element-populated {
	padding: 40px 0px 0px 40px;
}

.elementor-1958 .elementor-element.elementor-element-5c2189c>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-5c2189c {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-5c2189c {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-0904402 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 90px;
}

.elementor-1958 .elementor-element.elementor-element-4493128>.elementor-element-populated {
	margin: 10px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-4493128 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-4493128 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-96e5e72 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-transform: none;
}

.elementor-1958 .elementor-element.elementor-element-de660cc {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
}

.elementor-1958 .elementor-element.elementor-element-de660cc>.elementor-widget-container {
	margin: -5px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-36e7963>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-36e7963 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-36e7963 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-f48252a .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 90px;
}

.elementor-1958 .elementor-element.elementor-element-1a500bb>.elementor-element-populated {
	margin: 10px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-1a500bb {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-1a500bb {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-9ab648e .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-transform: none;
}

.elementor-1958 .elementor-element.elementor-element-773c41e {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
}

.elementor-1958 .elementor-element.elementor-element-773c41e>.elementor-widget-container {
	margin: -5px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-835e7c9>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-835e7c9 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-835e7c9 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-38e6495 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 90px;
}

.elementor-1958 .elementor-element.elementor-element-4cf753e>.elementor-element-populated {
	margin: 10px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-4cf753e {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-4cf753e {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-3c54949 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-transform: none;
}

.elementor-1958 .elementor-element.elementor-element-51f42a4 {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
}

.elementor-1958 .elementor-element.elementor-element-51f42a4>.elementor-widget-container {
	margin: -5px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-426af78 .elementor-button {
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #000000;
	color: #000000;
	background-color: #02010100;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.elementor-1958 .elementor-element.elementor-element-426af78>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-1266896:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-1266896>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-1266896 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 60px 0px;
}

.elementor-1958 .elementor-element.elementor-element-1266896>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-05eaccd>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-f711105 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-f711105>.elementor-widget-container {
	margin: 0px 0px 0px 140px;
}

.elementor-element.elementor-element-f711105 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-f711105 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-0c182e6 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-0c182e6>.elementor-widget-container {
	margin: 0px 0px 0px 300px;
}

.elementor-element.elementor-element-0c182e6 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-0c182e6 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-62c6c2b {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-62c6c2b:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-62c6c2b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-62c6c2b>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-2dee880>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper.style2 .item {
	height: 350px;
	border-radius: 15px;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-image .team-carousel-image-overflow img {
	border-radius: 15px;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper .team-carousel-title {
	font-family: "Inter", Sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: none;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper .team-carousel-subtitle {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper .team-carousel-desc {
	font-size: 13px;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper .owl-carousel .owl-dots .owl-dot span {
	background: #cccccc;
}

.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper .owl-carousel .owl-dots .owl-dot.active span {
	background: #000000;
}

.elementor-element.elementor-element-4c30f54 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-4c30f54 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper.style2 .item {
	height: 350px;
	border-radius: 15px;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-image .team-carousel-image-overflow img {
	border-radius: 15px;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper .team-carousel-title {
	font-family: "Inter", Sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: none;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper .team-carousel-subtitle {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper .team-carousel-desc {
	font-size: 13px;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper .owl-carousel .owl-dots .owl-dot span {
	background: #cccccc;
}

.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper .owl-carousel .owl-dots .owl-dot.active span {
	background: #000000;
}

.elementor-1958 .elementor-element.elementor-element-57d7446>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-57d7446 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-57d7446 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-8ade780 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 100px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-8ade780:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-8ade780>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-8ade780>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-7546349>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-7546349 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-7546349 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-f089d81 .elementor-heading-title {
	color: #FF414B;
	font-family: "Inter", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-1958 .elementor-element.elementor-element-f089d81>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-8bb3741 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: none;
	line-height: 65px;
}

.elementor-1958 .elementor-element.elementor-element-8bb3741>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-c531617 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: none;
	line-height: 75px;
}

.elementor-1958 .elementor-element.elementor-element-c531617>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-0278309>.elementor-element-populated {
	padding: 10px 0px 0px 0px;
}

.elementor-element.elementor-element-0278309 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-0278309 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-f6ae566 {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.elementor-1958 .elementor-element.elementor-element-f6ae566>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-cbe2d37 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 60px 0px 60px 0px;
}

.elementor-1958 .elementor-element.elementor-element-cbe2d37:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-cbe2d37>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-cbe2d37>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-9c2818b>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper.style2 .item {
	height: 350px;
	border-radius: 15px;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .service-carousel-image .service-carousel-image-overflow {
	border-radius: 15px;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .service-carousel-title {
	font-family: "Inter", Sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-transform: none;
	font-style: normal;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper.style2 .item:hover:before {
	background-color: transparent;
	background-image: linear-gradient(180deg, #FFFFFF00 0%, #FF414B 100%);
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .service-carousel-desc {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .service-carousel-link-button {
	background: #A6FF00;
	border-color: #A6FF00;
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper.style2 .item:hover .item-content .button {
	background: #A6FF00;
	border-color: #A6FF00;
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .service-carousel-link-button:before {
	border-color: #FFFFFF;
	background: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper.style2 .item:hover .item-content .button:hover {
	border-color: #FFFFFF;
	background: #FFFFFF;
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .item:hover .service-carousel-link-button .service-carousel-link-label {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .item .service-carousel-link-button .service-carousel-link-label,
.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper.style2 .item .item-content .button {
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .owl-carousel .owl-dots .owl-dot span {
	background: #cccccc;
}

.elementor-1958 .elementor-element.elementor-element-2ce406f .service-carousel-wrapper .owl-carousel .owl-dots .owl-dot.active span {
	background: #000000;
}

.elementor-element.elementor-element-2ce406f {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-2ce406f {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-a429e06>.elementor-container {
	min-height: 800px;
}

.elementor-1958 .elementor-element.elementor-element-a429e06>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-1958 .elementor-element.elementor-element-a429e06 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-a429e06:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-a429e06>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../images/sport-and-fitness-concept-young-black-woman-doing-L6T58LU.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-1958 .elementor-element.elementor-element-a429e06>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-f2dce21 {
	--spacer-size: 50px;
}

.elementor-1958 .elementor-element.elementor-element-2a77f8b:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-2a77f8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #787878;
}

.elementor-1958 .elementor-element.elementor-element-2a77f8b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 60px 0px;
}

.elementor-1958 .elementor-element.elementor-element-2a77f8b>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-4c73935>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-a9009b1 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-a9009b1>.elementor-widget-container {
	margin: -40px 0px 0px 80px;
}

.elementor-element.elementor-element-a9009b1 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-a9009b1 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-df44c58 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-df44c58>.elementor-widget-container {
	margin: 0px 0px 0px 200px;
}

.elementor-element.elementor-element-df44c58 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-df44c58 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .testimonial-block .inner-box {
	padding: 0px;
	background: #00000000;
	border-radius: 0px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .testimonial-block .info-box .name {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-weight: 700;
	text-transform: none;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .testimonial-block .info-box .designation {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .testimonial-block .text {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-next,
.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-prev {
	background: #00000000;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .owl-next .arrow-right {
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .owl-prev .arrow-left {
	color: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-next:hover,
.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-prev:hover {
	background: #FFFFFF;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-next:hover .arrow-right:after,
.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-prev:hover .arrow-left:after {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-nav {
	bottom: 50px;
}

.elementor-1958 .elementor-element.elementor-element-04646c7>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 100px 0px 70px;
}

.elementor-element.elementor-element-04646c7 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-04646c7 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-f9bf80f {
	margin-top: 40px;
	margin-bottom: 40px;
}

.elementor-1958 .elementor-element.elementor-element-ee51800>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-0620f82 .horizontal-gallery-wrapper .horizontal-gallery-cell img {
	border-radius: 15px 15px 15px 15px;
}

.elementor-1958 .elementor-element.elementor-element-0620f82 .horizontal-gallery-wrapper .flickity-prev-next-button.next {
	background: #ffffff;
}

.elementor-1958 .elementor-element.elementor-element-0620f82 .horizontal-gallery-wrapper .flickity-prev-next-button.previous {
	background: #ffffff;
}

.elementor-1958 .elementor-element.elementor-element-0620f82 .horizontal-gallery-wrapper .flickity-prev-next-button .arrow {
	fill: #222222;
}

.elementor-1958 .elementor-element.elementor-element-0620f82 .horizontal-gallery-wrapper .flickity-page-dots .dot {
	background: #222222;
}

.elementor-1958 .elementor-element.elementor-element-0620f82>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-fe06671 {
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 60px 0px 100px 0px;
}

.elementor-1958 .elementor-element.elementor-element-f404c79>.elementor-element-populated {
	margin: 0px 40px 0px 0px;
	--e-column-margin-right: 40px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-f404c79 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-f404c79 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-fe70c0a .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: none;
	line-height: 65px;
}

.elementor-1958 .elementor-element.elementor-element-fe70c0a>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-9d923e7 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: none;
	line-height: 75px;
}

.elementor-1958 .elementor-element.elementor-element-9d923e7>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-132b463 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: none;
	line-height: 75px;
}

.elementor-1958 .elementor-element.elementor-element-132b463>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-da5ef57>.elementor-element-populated {
	padding: 0px 0px 0px 20px;
}

.elementor-element.elementor-element-da5ef57 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-da5ef57 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title {
	border-width: 1px;
	border-color: #E1E1E1;
	padding: 20px 0px 20px 0px;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-content {
	border-width: 1px;
	border-bottom-color: #E1E1E1;
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-toggle-item {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-toggle-title,
.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-toggle-icon {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-toggle-icon svg {
	fill: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title.elementor-active a,
.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title.elementor-active .elementor-toggle-icon {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-toggle-title {
	font-family: "Inter", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: none;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title .elementor-toggle-icon i:before {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title .elementor-toggle-icon svg {
	fill: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
	color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-tab-title.elementor-active .elementor-toggle-icon svg {
	fill: #000000;
}

.elementor-1958 .elementor-element.elementor-element-98faafa>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-375fe32:not(.elementor-motion-effects-element-type-background),
.elementor-1958 .elementor-element.elementor-element-375fe32>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1958 .elementor-element.elementor-element-375fe32 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 60px 0px;
}

.elementor-1958 .elementor-element.elementor-element-375fe32>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1958 .elementor-element.elementor-element-8afe49d>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1958 .elementor-element.elementor-element-19f0d34 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-19f0d34>.elementor-widget-container {
	margin: 0px 0px 0px 140px;
}

.elementor-element.elementor-element-19f0d34 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-19f0d34 {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-f02b64c .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-1958 .elementor-element.elementor-element-f02b64c>.elementor-widget-container {
	margin: 0px 0px 0px 300px;
}

.elementor-element.elementor-element-f02b64c {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-f02b64c {
	opacity: 0;
}

.elementor-1958 .elementor-element.elementor-element-345b053 .elementor-button {
	font-family: "Inter", Sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #02010100;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.elementor-1958 .elementor-element.elementor-element-345b053>.elementor-widget-container {
	margin: 30px 0px 0px 300px;
}

.elementor-element.elementor-element-345b053 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 300ms !important;
}

.elementor-widget.elementor-element-345b053 {
	opacity: 0;
}

@media(max-width:1024px) {
	.elementor-1958 .elementor-element.elementor-element-8c11aba>.elementor-container {
		min-height: 80vh;
	}

	.elementor-1958 .elementor-element.elementor-element-630bdd2>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-6c13db0 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-01c13e1 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-08dbf66 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h1,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h2,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h3,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h4,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h5,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h6,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline div,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline p {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span.ah-words-wrapper b {
		font-size: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button {
		font-size: 14px;
		padding: 16px 30px 16px 30px;
	}

	.elementor-1958 .elementor-element.elementor-element-6b740e9 {
		padding: 80px 0px 60px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-170eaa5 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-e3e54dd .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-db30260 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-5900820 {
		margin-top: 0px;
		margin-bottom: 80px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-0a87687>.elementor-element-populated {
		padding: 0px 20px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-40dd5a2>.elementor-element-populated {
		padding: 0px 0px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-0904402 .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-1958 .elementor-element.elementor-element-96e5e72 .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-1958 .elementor-element.elementor-element-f48252a .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-1958 .elementor-element.elementor-element-9ab648e .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-1958 .elementor-element.elementor-element-38e6495 .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-1958 .elementor-element.elementor-element-3c54949 .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-1958 .elementor-element.elementor-element-1266896 {
		padding: 80px 0px 60px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-f711105 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-0c182e6 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-62c6c2b {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-4c30f54 .team-carousel-wrapper .team-carousel-title {
		font-size: 24px;
	}

	.elementor-1958 .elementor-element.elementor-element-57d7446 .team-carousel-wrapper .team-carousel-title {
		font-size: 24px;
	}

	.elementor-1958 .elementor-element.elementor-element-8ade780 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 60px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-f089d81 .elementor-heading-title {
		font-size: 18px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-f089d81>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-8bb3741 .elementor-heading-title {
		font-size: 52px;
		line-height: 52px;
	}

	.elementor-1958 .elementor-element.elementor-element-8bb3741>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-c531617 .elementor-heading-title {
		font-size: 52px;
		line-height: 52px;
	}

	.elementor-1958 .elementor-element.elementor-element-c531617>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-0278309>.elementor-element-populated {
		padding: 0px 0px 0px 40px;
	}

	.elementor-1958 .elementor-element.elementor-element-f6ae566>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-cbe2d37 {
		padding: 40px 0px 40px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-2a77f8b {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 40px 0px 60px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-4c73935>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-a9009b1 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-a9009b1>.elementor-widget-container {
		margin: 0px 0px 0px 60px;
	}

	.elementor-1958 .elementor-element.elementor-element-df44c58 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-df44c58>.elementor-widget-container {
		margin: 0px 0px 0px 100px;
	}

	.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .testimonial-block .info-box .name {
		font-size: 18px;
	}

	.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonials-slider-wrapper .testimonial-carousel .testimonial-block .text {
		font-size: 16px;
	}

	.elementor-1958 .elementor-element.elementor-element-04646c7>.elementor-widget-container {
		padding: 0px 0px 0px 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-fe06671 {
		margin-top: 60px;
		margin-bottom: 60px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-f404c79>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-fe70c0a .elementor-heading-title {
		font-size: 52px;
		line-height: 52px;
	}

	.elementor-1958 .elementor-element.elementor-element-fe70c0a>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-9d923e7 .elementor-heading-title {
		font-size: 52px;
		line-height: 52px;
	}

	.elementor-1958 .elementor-element.elementor-element-9d923e7>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-132b463 .elementor-heading-title {
		font-size: 52px;
		line-height: 52px;
	}

	.elementor-1958 .elementor-element.elementor-element-132b463>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-da5ef57>.elementor-element-populated {
		padding: 0px 0px 0px 40px;
	}

	.elementor-1958 .elementor-element.elementor-element-375fe32 {
		padding: 80px 0px 60px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-19f0d34 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-f02b64c .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-1958 .elementor-element.elementor-element-f02b64c>.elementor-widget-container {
		margin: 0px 0px 0px 100px;
	}

	.elementor-1958 .elementor-element.elementor-element-345b053>.elementor-widget-container {
		margin: 30px 0px 0px 100px;
	}
}

@media(max-width:767px) {
	.elementor-1958 .elementor-element.elementor-element-8c11aba>.elementor-container {
		min-height: 80vh;
	}

	.elementor-1958 .elementor-element.elementor-element-630bdd2>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 20px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-6c13db0 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-01c13e1 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-08dbf66 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h1,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h2,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h3,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h4,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h5,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline h6,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline div,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span,
	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline p {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-fc13ad2 .themegoods-animated-headline span.ah-words-wrapper b {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-6e7fe32 .elementor-button {
		padding: 14px 25px 14px 25px;
	}

	.elementor-1958 .elementor-element.elementor-element-6b740e9 {
		padding: 80px 0px 40px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-170eaa5 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-e3e54dd .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-e3e54dd>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-db30260 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-db30260>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-5900820 {
		margin-top: 0px;
		margin-bottom: 60px;
	}

	.elementor-1958 .elementor-element.elementor-element-40dd5a2>.elementor-element-populated {
		margin: 40px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-5c2189c {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-4493128 {
		width: 80%;
	}

	.elementor-1958 .elementor-element.elementor-element-36e7963 {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-1a500bb {
		width: 80%;
	}

	.elementor-1958 .elementor-element.elementor-element-835e7c9 {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-4cf753e {
		width: 80%;
	}

	.elementor-1958 .elementor-element.elementor-element-f711105 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-f711105>.elementor-widget-container {
		margin: 0px 0px 0px 40px;
	}

	.elementor-1958 .elementor-element.elementor-element-0c182e6 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-0c182e6>.elementor-widget-container {
		margin: 0px 0px 0px 60px;
	}

	.elementor-1958 .elementor-element.elementor-element-62c6c2b {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-8ade780 {
		padding: 40px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-7546349>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-f089d81 {
		text-align: center;
	}

	.elementor-1958 .elementor-element.elementor-element-8bb3741 {
		text-align: center;
	}

	.elementor-1958 .elementor-element.elementor-element-8bb3741 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-c531617 {
		text-align: center;
	}

	.elementor-1958 .elementor-element.elementor-element-c531617 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-0278309>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-f6ae566 {
		text-align: center;
		font-size: 16px;
	}

	.elementor-1958 .elementor-element.elementor-element-f6ae566>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-a429e06:not(.elementor-motion-effects-element-type-background),
	.elementor-1958 .elementor-element.elementor-element-a429e06>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-size: contain;
	}

	.elementor-1958 .elementor-element.elementor-element-a429e06 {
		padding: 0px 0px 50px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-f2dce21 {
		--spacer-size: 200px;
	}

	.elementor-1958 .elementor-element.elementor-element-2a77f8b {
		padding: 60px 0px 40px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-a9009b1 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-a9009b1>.elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-df44c58 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-df44c58>.elementor-widget-container {
		margin: 0px 0px 0px 10px;
	}

	.elementor-1958 .elementor-element.elementor-element-04646c7 .testimonial-carousel .owl-nav {
		bottom: 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-04646c7>.elementor-widget-container {
		margin: 40px 0px 0px 0px;
		padding: 0px 0px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-f9bf80f {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-0620f82>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-f404c79>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-fe70c0a {
		text-align: center;
	}

	.elementor-1958 .elementor-element.elementor-element-fe70c0a .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-9d923e7 {
		text-align: center;
	}

	.elementor-1958 .elementor-element.elementor-element-9d923e7 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-132b463 {
		text-align: center;
	}

	.elementor-1958 .elementor-element.elementor-element-132b463 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-da5ef57>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-98faafa .elementor-toggle-title {
		font-size: 18px;
		line-height: 1.5em;
	}

	.elementor-1958 .elementor-element.elementor-element-98faafa>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}

	.elementor-1958 .elementor-element.elementor-element-19f0d34 .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-19f0d34>.elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-1958 .elementor-element.elementor-element-f02b64c .elementor-heading-title {
		font-size: 50px;
		line-height: 50px;
	}

	.elementor-1958 .elementor-element.elementor-element-f02b64c>.elementor-widget-container {
		margin: 0px 0px 0px 10px;
	}

	.elementor-1958 .elementor-element.elementor-element-345b053>.elementor-widget-container {
		margin: 30px 0px 0px 10px;
	}
}

@media(min-width:768px) {
	.elementor-1958 .elementor-element.elementor-element-630bdd2 {
		width: 60%;
	}

	.elementor-1958 .elementor-element.elementor-element-133b410 {
		width: 40%;
	}

	.elementor-1958 .elementor-element.elementor-element-5c2189c {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-4493128 {
		width: 80%;
	}

	.elementor-1958 .elementor-element.elementor-element-36e7963 {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-1a500bb {
		width: 80%;
	}

	.elementor-1958 .elementor-element.elementor-element-835e7c9 {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-4cf753e {
		width: 80%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-1958 .elementor-element.elementor-element-630bdd2 {
		width: 70%;
	}

	.elementor-1958 .elementor-element.elementor-element-133b410 {
		width: 30%;
	}

	.elementor-1958 .elementor-element.elementor-element-5e2ca7a {
		width: 20%;
	}

	.elementor-1958 .elementor-element.elementor-element-f404c79 {
		width: 40%;
	}

	.elementor-1958 .elementor-element.elementor-element-da5ef57 {
		width: 60%;
	}
}