.elementor-3374 .elementor-element.elementor-element-365c1c6 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 100px 0px 100px 0px;
}

.elementor-3374 .elementor-element.elementor-element-e840e5a>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-1faf578 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-element.elementor-element-1faf578 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-1faf578 {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-4b0e497 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 95px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 95px;
}

.elementor-3374 .elementor-element.elementor-element-4b0e497>.elementor-widget-container {
	margin: 0px 0px 0px 100px;
}

.elementor-element.elementor-element-4b0e497 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-4b0e497 {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-f7ae69a>.elementor-container {
	min-height: 700px;
}

.elementor-3374 .elementor-element.elementor-element-f7ae69a>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-3374 .elementor-element.elementor-element-f7ae69a {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-f7ae69a:not(.elementor-motion-effects-element-type-background),
.elementor-3374 .elementor-element.elementor-element-f7ae69a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../images/sportive-woman-training-2021-04-21-02-54-58-utc-1.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-3374 .elementor-element.elementor-element-f7ae69a>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3374 .elementor-element.elementor-element-0cf41b0 {
	margin-top: 80px;
	margin-bottom: 60px;
	padding: 0px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-741e196>.elementor-element-populated {
	padding: 0px 0px 0px 40px;
}

.elementor-3374 .elementor-element.elementor-element-beb2dc4 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3374 .elementor-element.elementor-element-beb2dc4>.elementor-widget-container {
	margin: 0px 0px 30px 0px;
}

.elementor-3374 .elementor-element.elementor-element-f18b514>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-f18b514 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-f18b514 {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-b22de83 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 70px;
}

.elementor-3374 .elementor-element.elementor-element-b30329e>.elementor-element-populated {
	margin: 10px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-b30329e {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-b30329e {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-b55d136 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3374 .elementor-element.elementor-element-3d3a9a7 {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
}

.elementor-3374 .elementor-element.elementor-element-3d3a9a7>.elementor-widget-container {
	margin: -5px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-76c1e2b>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-76c1e2b {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-76c1e2b {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-3f9bdcb .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 70px;
}

.elementor-3374 .elementor-element.elementor-element-b0e7abf>.elementor-element-populated {
	margin: 10px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-b0e7abf {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 50ms !important;
}

.elementor-widget.elementor-element-b0e7abf {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-aa60ea4 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3374 .elementor-element.elementor-element-3b574e4 {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
}

.elementor-3374 .elementor-element.elementor-element-3b574e4>.elementor-widget-container {
	margin: -5px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-03ed032>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-03ed032 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-03ed032 {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-aa5ba40 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 70px;
}

.elementor-3374 .elementor-element.elementor-element-6066859>.elementor-element-populated {
	margin: 10px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-6066859 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 100ms !important;
}

.elementor-widget.elementor-element-6066859 {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-65d8cf5 .elementor-heading-title {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3374 .elementor-element.elementor-element-73dd2ee {
	color: #000000;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
}

.elementor-3374 .elementor-element.elementor-element-73dd2ee>.elementor-widget-container {
	margin: -5px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-9d58891 .elementor-button {
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #000000;
	color: #000000;
	background-color: #02010100;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.elementor-3374 .elementor-element.elementor-element-9d58891>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-69defef>.elementor-element-populated {
	padding: 0px 40px 0px 40px;
}

.elementor-element.elementor-element-739b7ae {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-739b7ae {
	opacity: 0;
}

.elementor-3374 .elementor-element.elementor-element-21c9dea>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3374 .elementor-element.elementor-element-67f27d4 .eb-map {
	height: 350px;
}

@media(min-width:768px) {
	.elementor-3374 .elementor-element.elementor-element-f18b514 {
		width: 12%;
	}

	.elementor-3374 .elementor-element.elementor-element-b30329e {
		width: 88%;
	}

	.elementor-3374 .elementor-element.elementor-element-76c1e2b {
		width: 12%;
	}

	.elementor-3374 .elementor-element.elementor-element-b0e7abf {
		width: 88%;
	}

	.elementor-3374 .elementor-element.elementor-element-03ed032 {
		width: 12%;
	}

	.elementor-3374 .elementor-element.elementor-element-6066859 {
		width: 88%;
	}
}

@media(max-width:1024px) {
	.elementor-3374 .elementor-element.elementor-element-365c1c6 {
		padding: 80px 0px 60px 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-1faf578 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-3374 .elementor-element.elementor-element-4b0e497 .elementor-heading-title {
		font-size: 70px;
		line-height: 70px;
	}

	.elementor-3374 .elementor-element.elementor-element-0cf41b0 {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.elementor-3374 .elementor-element.elementor-element-741e196>.elementor-element-populated {
		padding: 0px 20px 0px 30px;
	}

	.elementor-3374 .elementor-element.elementor-element-beb2dc4 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-3374 .elementor-element.elementor-element-beb2dc4>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-b22de83 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-3374 .elementor-element.elementor-element-b30329e>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-3f9bdcb .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-3374 .elementor-element.elementor-element-b0e7abf>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-aa60ea4 .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-3374 .elementor-element.elementor-element-aa5ba40 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-3374 .elementor-element.elementor-element-6066859>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-65d8cf5 .elementor-heading-title {
		font-size: 24px;
	}

	.elementor-3374 .elementor-element.elementor-element-69defef>.elementor-element-populated {
		padding: 0px 30px 0px 40px;
	}
}

@media(max-width:767px) {
	.elementor-3374 .elementor-element.elementor-element-365c1c6 {
		padding: 40px 0px 40px 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-1faf578 .elementor-heading-title {
		font-size: 48px;
		line-height: 50px;
	}

	.elementor-3374 .elementor-element.elementor-element-4b0e497 .elementor-heading-title {
		font-size: 48px;
		line-height: 50px;
	}

	.elementor-3374 .elementor-element.elementor-element-4b0e497>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-f7ae69a>.elementor-container {
		min-height: 500px;
	}

	.elementor-3374 .elementor-element.elementor-element-f7ae69a:not(.elementor-motion-effects-element-type-background),
	.elementor-3374 .elementor-element.elementor-element-f7ae69a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-size: contain;
	}

	.elementor-3374 .elementor-element.elementor-element-f7ae69a {
		padding: 0px 0px 50px 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-0cf41b0 {
		margin-top: 0px;
		margin-bottom: 60px;
	}

	.elementor-3374 .elementor-element.elementor-element-741e196>.elementor-element-populated {
		margin: 60px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-3374 .elementor-element.elementor-element-beb2dc4 {
		text-align: center;
	}

	.elementor-3374 .elementor-element.elementor-element-f18b514 {
		width: 20%;
	}

	.elementor-3374 .elementor-element.elementor-element-b30329e {
		width: 80%;
	}

	.elementor-3374 .elementor-element.elementor-element-76c1e2b {
		width: 20%;
	}

	.elementor-3374 .elementor-element.elementor-element-b0e7abf {
		width: 80%;
	}

	.elementor-3374 .elementor-element.elementor-element-03ed032 {
		width: 20%;
	}

	.elementor-3374 .elementor-element.elementor-element-6066859 {
		width: 80%;
	}

	.elementor-3374 .elementor-element.elementor-element-69defef>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}
}