.elementor-1177 .elementor-element.elementor-element-bcb51c8>.elementor-container {
	min-height: 100vh;
}

.elementor-1177 .elementor-element.elementor-element-bcb51c8:not(.elementor-motion-effects-element-type-background),
.elementor-1177 .elementor-element.elementor-element-bcb51c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1177 .elementor-element.elementor-element-bcb51c8 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-bcb51c8>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-a2827f8>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-a2827f8>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(0px/2);
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(0px/2);
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(0px/2);
	margin-left: calc(0px/2);
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-0px/2);
	margin-left: calc(-0px/2);
}

body.rtl .elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-0px/2);
}

body:not(.rtl) .elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-0px/2);
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-icon i {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	transition: fill 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-icon {
	padding-right: 0px;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item>a {
	font-family: "Work Sans", Sans-serif;
	font-size: 110px;
	font-weight: 600;
	line-height: 1.2em;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #EB3340;
}

.elementor-1177 .elementor-element.elementor-element-e52c15f>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-777cd73 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(5px/2);
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(5px/2);
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(5px/2);
	margin-left: calc(5px/2);
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-5px/2);
	margin-left: calc(-5px/2);
}

body.rtl .elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-5px/2);
}

body:not(.rtl) .elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-5px/2);
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-12ea201 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-item>a {
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-text {
	color: #FFFFFF96;
	transition: color 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #FFFFFF;
}

.elementor-1177 .elementor-element.elementor-element-12ea201>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-08b6626 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
}

.elementor-1177 .elementor-element.elementor-element-08b6626>.elementor-widget-container {
	margin: 40px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(5px/2);
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(5px/2);
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(5px/2);
	margin-left: calc(5px/2);
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-5px/2);
	margin-left: calc(-5px/2);
}

body.rtl .elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-5px/2);
}

body:not(.rtl) .elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-5px/2);
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-ec52729 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-item>a {
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-text {
	color: #FFFFFF96;
	transition: color 0.3s;
}

.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #FFFFFF;
}

.elementor-1177 .elementor-element.elementor-element-ec52729>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-fb19a9a .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
}

.elementor-1177 .elementor-element.elementor-element-fb19a9a>.elementor-widget-container {
	margin: 40px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-d6f104d .elementor-heading-title {
	color: #FFFFFF96;
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.7em;
	letter-spacing: 0px;
}

.elementor-1177 .elementor-element.elementor-element-d6f104d>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-9a7bb0f .elementor-heading-title {
	color: #FFFFFF96;
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.7em;
	letter-spacing: 0px;
}

.elementor-1177 .elementor-element.elementor-element-9a7bb0f>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-1177 .elementor-element.elementor-element-e7f6b1f .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.7em;
	letter-spacing: 0px;
}

.elementor-1177 .elementor-element.elementor-element-e7f6b1f>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-1177 .elementor-element.elementor-element-a2827f8>.elementor-element-populated {
		padding: 0px 0px 0px 30px;
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(12px/2);
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(12px/2);
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(12px/2);
		margin-left: calc(12px/2);
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-12px/2);
		margin-left: calc(-12px/2);
	}

	body.rtl .elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-12px/2);
	}

	body:not(.rtl) .elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-12px/2);
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item>a {
		font-size: 70px;
	}

	.elementor-1177 .elementor-element.elementor-element-e52c15f>.elementor-element-populated {
		padding: 0px 30px 0px 0px;
	}

	.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-1177 .elementor-element.elementor-element-12ea201 .elementor-icon-list-item>a {
		font-size: 14px;
	}

	.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-1177 .elementor-element.elementor-element-ec52729 .elementor-icon-list-item>a {
		font-size: 14px;
	}

	.elementor-1177 .elementor-element.elementor-element-d6f104d .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-1177 .elementor-element.elementor-element-9a7bb0f .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-1177 .elementor-element.elementor-element-e7f6b1f .elementor-heading-title {
		font-size: 16px;
	}
}

@media(max-width:767px) {
	.elementor-1177 .elementor-element.elementor-element-a2827f8>.elementor-element-populated {
		padding: 60px 20px 0px 20px;
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 {
		--e-icon-list-icon-align: center;
		--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
	}

	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-1177 .elementor-element.elementor-element-816ee71 .elementor-icon-list-item>a {
		font-size: 40px;
	}

	.elementor-1177 .elementor-element.elementor-element-e52c15f.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-1177 .elementor-element.elementor-element-e52c15f>.elementor-element-populated {
		padding: 60px 20px 60px 20px;
	}

	.elementor-1177 .elementor-element.elementor-element-777cd73 {
		text-align: center;
	}

	.elementor-1177 .elementor-element.elementor-element-08b6626 {
		text-align: center;
	}

	.elementor-1177 .elementor-element.elementor-element-fb19a9a {
		text-align: center;
	}

	.elementor-1177 .elementor-element.elementor-element-d6f104d {
		text-align: center;
	}

	.elementor-1177 .elementor-element.elementor-element-d6f104d .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-1177 .elementor-element.elementor-element-9a7bb0f {
		text-align: center;
	}

	.elementor-1177 .elementor-element.elementor-element-9a7bb0f .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-1177 .elementor-element.elementor-element-e7f6b1f {
		text-align: center;
	}

	.elementor-1177 .elementor-element.elementor-element-e7f6b1f .elementor-heading-title {
		font-size: 16px;
	}
}


