.elementor-2984 .elementor-element.elementor-element-20ab6b3>.elementor-container {
	min-height: 800px;
}

.elementor-2984 .elementor-element.elementor-element-20ab6b3 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-20ab6b3:not(.elementor-motion-effects-element-type-background),
.elementor-2984 .elementor-element.elementor-element-20ab6b3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../images/african-bodybuilder-exercising-with-dumbbells-PYYBBGT.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
}

.elementor-2984 .elementor-element.elementor-element-20ab6b3>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2984 .elementor-element.elementor-element-12a303c.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-2984 .elementor-element.elementor-element-12a303c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-2984 .elementor-element.elementor-element-12a303c>.elementor-element-populated {
	margin: 160px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h1 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h2 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h3 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h4 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h5 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h6 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text div {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text span {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text p {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 85px;
	text-transform: none;
	line-height: 1.1em;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h1 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h2 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h3 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h4 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h5 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h6 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text div {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text span {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text p {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 85px;
	text-transform: none;
	line-height: 1.1em;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h1 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h2 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h3 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h4 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h5 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h6 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text div {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text span {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text p {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 85px;
	text-transform: none;
	line-height: 1.1em;
}

.elementor-2984 .elementor-element.elementor-element-7dfd8ac>.elementor-widget-container {
	margin: -10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button {
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0px;
	fill: #000000;
	color: #000000;
	background-color: #A6FF00;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #9EF300;
	border-radius: 250px 250px 250px 250px;
	padding: 18px 40px 18px 40px;
}

.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button:hover,
.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button:focus {
	color: #000000;
	background-color: #9EF300;
	border-color: #9EF300;
}

.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button:hover svg,
.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button:focus svg {
	fill: #000000;
}

.elementor-2984 .elementor-element.elementor-element-438a809>.elementor-widget-container {
	margin: 40px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-438a809 {
	width: auto;
	max-width: auto;
}

.elementor-2984 .elementor-element.elementor-element-6cd58aa .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-6cd58aa .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-6cd58aa {
	--e-icon-list-icon-size: 28px;
	--icon-vertical-offset: 0px;
	width: auto;
	max-width: auto;
}

.elementor-2984 .elementor-element.elementor-element-6cd58aa .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2984 .elementor-element.elementor-element-6cd58aa .elementor-icon-list-item>a {
	font-family: "Work Sans", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-2984 .elementor-element.elementor-element-6cd58aa .elementor-icon-list-text {
	transition: color 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-6cd58aa>.elementor-widget-container {
	margin: 55px 0px 0px 20px;
}

.elementor-2984 .elementor-element.elementor-element-cac4967:not(.elementor-motion-effects-element-type-background),
.elementor-2984 .elementor-element.elementor-element-cac4967>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-cac4967 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 80px 0px 80px 0px;
}

.elementor-2984 .elementor-element.elementor-element-cac4967>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-5a42c15>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-2659f47 .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Work Sans", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-2984 .elementor-element.elementor-element-baa9b06 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-2984 .elementor-element.elementor-element-baa9b06>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-653de8d>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-fa56729 .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Work Sans", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-2984 .elementor-element.elementor-element-0b0cdd2 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-2984 .elementor-element.elementor-element-0b0cdd2>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-38b2342>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-1183281 .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Work Sans", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-2984 .elementor-element.elementor-element-b42d6b3 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-2984 .elementor-element.elementor-element-b42d6b3>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-643b189>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-a6f306b .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Work Sans", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-2984 .elementor-element.elementor-element-c213400 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-2984 .elementor-element.elementor-element-c213400>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-9d89df1:not(.elementor-motion-effects-element-type-background),
.elementor-2984 .elementor-element.elementor-element-9d89df1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-9d89df1 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 40px 0px;
}

.elementor-2984 .elementor-element.elementor-element-9d89df1>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-76704ae>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 30px;
	text-transform: none;
	line-height: 1.5em;
}

.elementor-2984 .elementor-element.elementor-element-beb7687>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-34ddf3e {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-weight: 500;
}

.elementor-2984 .elementor-element.elementor-element-34ddf3e>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-element.elementor-element-34ddf3e {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-34ddf3e {
	opacity: 0;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 30px;
	text-transform: none;
	line-height: 1.5em;
}

.elementor-2984 .elementor-element.elementor-element-7c45bf4>.elementor-widget-container {
	margin: 40px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-dbce6fe {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 60px 0px;
}

.elementor-2984 .elementor-element.elementor-element-dbce6fe:not(.elementor-motion-effects-element-type-background),
.elementor-2984 .elementor-element.elementor-element-dbce6fe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-dbce6fe>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-286a883>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper.style2 .item {
	height: 350px;
	border-radius: 15px;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-image .team-carousel-image-overflow img {
	border-radius: 15px;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper .team-carousel-title {
	font-family: "Work Sans", Sans-serif;
	font-size: 26px;
	font-weight: 700;
	text-transform: none;
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper .team-carousel-subtitle {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper .team-carousel-desc {
	font-size: 13px;
	color: #FFFFFF;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper .owl-carousel .owl-dots .owl-dot span {
	background: #cccccc;
}

.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper .owl-carousel .owl-dots .owl-dot.active span {
	background: #000000;
}

.elementor-element.elementor-element-7843c11 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-7843c11 {
	opacity: 0;
}

.elementor-2984 .elementor-element.elementor-element-d322853 {
	overflow: hidden;
	margin-top: 80px;
	margin-bottom: 60px;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-926ef6e>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-926ef6e>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-ee90cd5 img {
	width: 140%;
}

.elementor-2984 .elementor-element.elementor-element-ee90cd5>.elementor-widget-container {
	margin: 0px 0px 60px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-ee90cd5 {
	width: var(--container-widget-width, 100vw);
	max-width: 100vw;
	--container-widget-width: 100vw;
	--container-widget-flex-grow: 0;
	top: 0%;
	z-index: 1;
}

body:not(.rtl) .elementor-2984 .elementor-element.elementor-element-ee90cd5 {
	left: -46%;
}

body.rtl .elementor-2984 .elementor-element.elementor-element-ee90cd5 {
	right: -46%;
}

.elementor-2984 .elementor-element.elementor-element-7f0d300>.elementor-element-populated {
	margin: 160px 0px 160px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h1 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h2 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h3 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h4 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h5 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h6 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text div {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text span {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text p {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 85px;
	text-transform: none;
	font-style: italic;
	line-height: 1em;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-83b09a2 {
	z-index: 2;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text {
	text-align: left;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h1 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h2 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h3 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h4 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h5 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h6 {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text div {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text span {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text p {
	color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h1,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h2,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h3,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h4,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h5,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h6,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text div,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text span,
.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text p {
	font-family: "Work Sans", Sans-serif;
	font-size: 85px;
	text-transform: none;
	line-height: 1em;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2>.elementor-widget-container {
	margin: -10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-ed2a4a2 {
	z-index: 2;
}

.elementor-2984 .elementor-element.elementor-element-b443c3b {
	margin-top: 20px;
	margin-bottom: 0px;
	z-index: 2;
}

.elementor-2984 .elementor-element.elementor-element-40e7a14:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-element-populated,
.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-element-populated>.elementor-background-overlay,
.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-background-slideshow {
	border-radius: 15px 15px 15px 15px;
}

.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 20px 0px 0px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 0px;
	padding: 50px 40px 50px 40px;
}

.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-40e7a14 {
	z-index: 2;
}

.elementor-element.elementor-element-40e7a14 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-40e7a14 {
	opacity: 0;
}

.elementor-2984 .elementor-element.elementor-element-fbef2bd .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 32px;
	text-transform: none;
	font-style: normal;
}

.elementor-2984 .elementor-element.elementor-element-3421691 {
	--divider-border-style: solid;
	--divider-color: #FFFFFF6E;
	--divider-border-width: 2px;
}

.elementor-2984 .elementor-element.elementor-element-3421691 .elementor-divider-separator {
	width: 100%;
}

.elementor-2984 .elementor-element.elementor-element-3421691 .elementor-divider {
	padding-block-start: 20px;
	padding-block-end: 20px;
}

.elementor-2984 .elementor-element.elementor-element-eeefd84 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Work Sans", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-2984 .elementor-element.elementor-element-e8ae246 .elementor-heading-title {
	color: #AEAEAE;
	font-family: "Work Sans", Sans-serif;
	font-size: 18px;
	text-transform: none;
}

.elementor-2984 .elementor-element.elementor-element-e8ae246>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(5px/2);
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(5px/2);
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(5px/2);
	margin-left: calc(5px/2);
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-5px/2);
	margin-left: calc(-5px/2);
}

body.rtl .elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-5px/2);
}

body:not(.rtl) .elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-5px/2);
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-icon i {
	color: #A6FF00;
	transition: color 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-icon svg {
	fill: #A6FF00;
	transition: fill 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-d5a271a {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-item>a {
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
}

.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-d5a271a>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-06c25f5:not(.elementor-motion-effects-element-type-background),
.elementor-2984 .elementor-element.elementor-element-06c25f5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-2984 .elementor-element.elementor-element-06c25f5 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-06c25f5>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2984 .elementor-element.elementor-element-4b27a02.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-2984 .elementor-element.elementor-element-4b27a02>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-204887f .vive-gallery-grid-content-wrapper .gallery-grid-item {
	border-width: 0px;
}

.elementor-2984 .elementor-element.elementor-element-204887f .vive-gallery-grid-content-wrapper div.gallery-grid-item {
	border-color: #ffffff;
	border-radius: 0px;
}

.elementor-2984 .elementor-element.elementor-element-204887f .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
	background: rgba(0, 0, 0, 0.2);
}

.elementor-2984 .elementor-element.elementor-element-204887f .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
	color: #ffffff;
}

.elementor-2984 .elementor-element.elementor-element-204887f>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-2984 .elementor-element.elementor-element-656bfc1 .elementor-heading-title {
	color: #000000;
	font-family: "Work Sans", Sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-2984 .elementor-element.elementor-element-656bfc1>.elementor-widget-container {
	margin: -20px 0px 0px 0px;
	padding: 11px 20px 10px 20px;
	background-color: #A6FF00;
	border-radius: 5px 5px 5px 5px;
}

.elementor-2984 .elementor-element.elementor-element-656bfc1 {
	width: auto;
	max-width: auto;
	z-index: 2;
}

@media(max-width:1024px) {
	.elementor-2984 .elementor-element.elementor-element-20ab6b3>.elementor-container {
		min-height: 600px;
	}

	.elementor-2984 .elementor-element.elementor-element-20ab6b3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text p {
		font-size: 55px;
	}

	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text p {
		font-size: 55px;
	}

	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text p {
		font-size: 55px;
	}

	.elementor-2984 .elementor-element.elementor-element-7dfd8ac>.elementor-widget-container {
		margin: -10px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button {
		padding: 18px 30px 16px 30px;
	}

	.elementor-2984 .elementor-element.elementor-element-438a809>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-6cd58aa>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-cac4967 {
		padding: 80px 0px 60px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-5a42c15>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-38b2342>.elementor-element-populated {
		margin: 40px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-643b189>.elementor-element-populated {
		margin: 40px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-9d89df1 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 20px 0px 40px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-beb7687>.elementor-widget-container {
		margin: -10px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-34ddf3e>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-7c45bf4>.elementor-widget-container {
		margin: -10px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-dbce6fe {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-7843c11 .team-carousel-wrapper .team-carousel-title {
		font-size: 24px;
	}

	.elementor-2984 .elementor-element.elementor-element-d322853 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-ee90cd5 img {
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-ee90cd5>.elementor-widget-container {
		margin: 80px 0px 60px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-7f0d300>.elementor-element-populated {
		margin: 120px 0px 80px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text p {
		font-size: 52px;
	}

	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text p {
		font-size: 52px;
	}

	.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-element-populated {
		padding: 40px 30px 40px 30px;
	}

	.elementor-2984 .elementor-element.elementor-element-fbef2bd .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-2984 .elementor-element.elementor-element-eeefd84 .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-2984 .elementor-element.elementor-element-e8ae246 .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-2984 .elementor-element.elementor-element-d5a271a .elementor-icon-list-item>a {
		font-size: 15px;
	}
}

@media(max-width:767px) {

	.elementor-2984 .elementor-element.elementor-element-20ab6b3:not(.elementor-motion-effects-element-type-background),
	.elementor-2984 .elementor-element.elementor-element-20ab6b3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
	}

	.elementor-2984 .elementor-element.elementor-element-12a303c.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-2984 .elementor-element.elementor-element-12a303c>.elementor-element-populated {
		margin: 80px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 20px 0px 20px;
	}

	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text {
		text-align: center;
	}

	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-6ab11ab .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-7053001 .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text {
		text-align: center;
	}

	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-7dfd8ac .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-2984 .elementor-element.elementor-element-7dfd8ac>.elementor-widget-container {
		margin: -5px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-438a809 .elementor-button {
		padding: 16px 25px 14px 25px;
	}

	.elementor-2984 .elementor-element.elementor-element-438a809>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-cac4967 {
		padding: 60px 0px 40px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-5a42c15 {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-5a42c15>.elementor-element-populated {
		padding: 0px 0px 40px 20px;
	}

	.elementor-2984 .elementor-element.elementor-element-653de8d {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-653de8d>.elementor-element-populated {
		padding: 0px 20px 40px 20px;
	}

	.elementor-2984 .elementor-element.elementor-element-38b2342 {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-38b2342>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 40px 20px;
	}

	.elementor-2984 .elementor-element.elementor-element-643b189 {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-643b189>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 20px 20px 20px;
	}

	.elementor-2984 .elementor-element.elementor-element-9d89df1 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-76704ae>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text {
		text-align: left;
	}

	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-beb7687 .themegoods-animated-text p {
		font-size: 28px;
	}

	.elementor-2984 .elementor-element.elementor-element-beb7687>.elementor-widget-container {
		margin: -5px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-34ddf3e {
		text-align: left;
		font-size: 16px;
	}

	.elementor-2984 .elementor-element.elementor-element-34ddf3e>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text {
		text-align: left;
	}

	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-7c45bf4 .themegoods-animated-text p {
		font-size: 28px;
	}

	.elementor-2984 .elementor-element.elementor-element-7c45bf4>.elementor-widget-container {
		margin: -5px 0px 20px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-dbce6fe {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-ee90cd5 img {
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-ee90cd5>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-7f0d300>.elementor-element-populated {
		margin: 60px 0px 60px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-83b09a2 .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h1,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h2,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h3,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h4,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h5,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text h6,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text div,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text span,
	.elementor-2984 .elementor-element.elementor-element-ed2a4a2 .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-2984 .elementor-element.elementor-element-40e7a14>.elementor-element-populated {
		margin: 0px 40px 0px 40px;
		--e-column-margin-right: 40px;
		--e-column-margin-left: 40px;
	}

	.elementor-2984 .elementor-element.elementor-element-06c25f5 {
		padding: 60px 0px 60px 0px;
	}
}

@media(min-width:768px) {
	.elementor-2984 .elementor-element.elementor-element-12a303c {
		width: 55%;
	}

	.elementor-2984 .elementor-element.elementor-element-5e4b5ce {
		width: 44.665%;
	}

	.elementor-2984 .elementor-element.elementor-element-926ef6e {
		width: 54.665%;
	}

	.elementor-2984 .elementor-element.elementor-element-7f0d300 {
		width: 45%;
	}

	.elementor-2984 .elementor-element.elementor-element-5348e41 {
		width: 25%;
	}

	.elementor-2984 .elementor-element.elementor-element-40e7a14 {
		width: 49.332%;
	}

	.elementor-2984 .elementor-element.elementor-element-e9e62fa {
		width: 25%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-2984 .elementor-element.elementor-element-5a42c15 {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-653de8d {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-38b2342 {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-643b189 {
		width: 50%;
	}

	.elementor-2984 .elementor-element.elementor-element-5348e41 {
		width: 10%;
	}

	.elementor-2984 .elementor-element.elementor-element-40e7a14 {
		width: 80%;
	}

	.elementor-2984 .elementor-element.elementor-element-e9e62fa {
		width: 10%;
	}
}