.elementor-3974 .elementor-element.elementor-element-dbc07f7:not(.elementor-motion-effects-element-type-background),
.elementor-3974 .elementor-element.elementor-element-dbc07f7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-3974 .elementor-element.elementor-element-dbc07f7 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 40px;
	padding: 140px 0px 100px 0px;
}

.elementor-3974 .elementor-element.elementor-element-dbc07f7>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3974 .elementor-element.elementor-element-dbc07f7>.elementor-shape-bottom svg {
	height: 100px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-3974 .elementor-element.elementor-element-def1aed>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text {
	text-align: left;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h1,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h2,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h3,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h4,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h5,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h6,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text div,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text span,
.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text p {
	font-family: "Roboto Condensed", Sans-serif;
	font-size: 85px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1em;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text {
	text-align: left;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h1,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h2,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h3,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h4,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h5,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h6,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text div,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text span,
.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text p {
	font-family: "Roboto Condensed", Sans-serif;
	font-size: 85px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.2em;
}

.elementor-3974 .elementor-element.elementor-element-d941841>.elementor-widget-container {
	margin: -10px 0px 0px 0px;
}

.elementor-3974 .elementor-element.elementor-element-253811a {
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-3974 .elementor-element.elementor-element-880356d>.elementor-element-populated {
	padding: 0px 60px 0px 0px;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-featured-image-hover,
.elementor-3974 .elementor-element.elementor-element-931eb07 .type-post.blog-posts-grid_no_space,
.elementor-3974 .elementor-element.elementor-element-931eb07 .type-post.blog-posts-metro_no_space {
	border-radius: 15px;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-header h5 a {
	color: #000000;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-header h5 {
	font-family: "Roboto", Sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-info-cat a {
	color: #00000061;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-detail.single-post {
	font-family: "Roboto", Sans-serif;
	font-weight: 600;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-header-wrapper>p {
	color: #000000;
	font-family: "Roboto", Sans-serif;
	font-size: 15px;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 a.continue-reading {
	color: #000000;
	font-family: "Roboto", Sans-serif;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-featured-date-wrapper {
	font-family: "Roboto", Sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	background: #ffffff;
	border-radius: 15px;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-featured-date {
	color: #000000;
}

.elementor-3974 .elementor-element.elementor-element-931eb07 .post-featured-month {
	color: #000000;
}

.elementor-3974 .elementor-element.elementor-element-c614f1b>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3974 .elementor-element.elementor-element-2f4492f .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto Condensed", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0px;
}

.elementor-3974 .elementor-element.elementor-element-2f4492f>.elementor-widget-container {
	padding: 10px 10px 10px 020px;
	background-color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3974 .elementor-element.elementor-element-2f4492f:not(.elementor-widget-image) .elementor-widget-container {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;

}

.elementor-3974 .elementor-element.elementor-element-2f4492f.elementor-widget-image .elementor-widget-container img {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px/2);
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px/2);
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(10px/2);
	margin-left: calc(10px/2);
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px/2);
	margin-left: calc(-10px/2);
}

body.rtl .elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-10px/2);
}

body:not(.rtl) .elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-10px/2);
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-item>a {
	font-family: "Roboto", Sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-text {
	color: #000000;
	transition: color 0.3s;
}

.elementor-3974 .elementor-element.elementor-element-01d4ddd>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3974 .elementor-element.elementor-element-a1deeb1 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto Condensed", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0px;
}

.elementor-3974 .elementor-element.elementor-element-a1deeb1>.elementor-widget-container {
	margin: 60px 0px 0px 0px;
	padding: 10px 10px 10px 020px;
	background-color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3974 .elementor-element.elementor-element-a1deeb1:not(.elementor-widget-image) .elementor-widget-container {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 158%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3974 .elementor-element.elementor-element-a1deeb1.elementor-widget-image .elementor-widget-container img {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 158%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3974 .elementor-element.elementor-element-9d0afa7 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 22px;
	--grid-column-gap: 25px;
	--grid-row-gap: 0px;
}

.elementor-3974 .elementor-element.elementor-element-9d0afa7 .elementor-widget-container {
	text-align: left;
}

.elementor-3974 .elementor-element.elementor-element-9d0afa7 .elementor-social-icon {
	background-color: #00000000;
	--icon-padding: 0em;
}

.elementor-3974 .elementor-element.elementor-element-9d0afa7 .elementor-social-icon i {
	color: #000000;
}

.elementor-3974 .elementor-element.elementor-element-9d0afa7 .elementor-social-icon svg {
	fill: #000000;
}

.elementor-3974 .elementor-element.elementor-element-9d0afa7>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3974 .elementor-element.elementor-element-c176b5f .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto Condensed", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0px;
}

.elementor-3974 .elementor-element.elementor-element-c176b5f>.elementor-widget-container {
	margin: 60px 0px 0px 0px;
	padding: 10px 10px 10px 020px;
	background-color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3974 .elementor-element.elementor-element-c176b5f:not(.elementor-widget-image) .elementor-widget-container {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3974 .elementor-element.elementor-element-c176b5f.elementor-widget-image .elementor-widget-container img {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3974 .elementor-element.elementor-element-045ef2b .vive-gallery-grid-content-wrapper .gallery-grid-item {
	border-width: 0px;
	border-radius: 5px;
}

.elementor-3974 .elementor-element.elementor-element-045ef2b .vive-gallery-grid-content-wrapper div.gallery-grid-item {
	border-color: #ffffff;
}

.elementor-3974 .elementor-element.elementor-element-045ef2b .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
	background: rgba(0, 0, 0, 0.2);
}

.elementor-3974 .elementor-element.elementor-element-045ef2b .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
	color: #ffffff;
}

.elementor-3974 .elementor-element.elementor-element-045ef2b>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-3974 .elementor-element.elementor-element-880356d {
		width: 70%;
	}

	.elementor-3974 .elementor-element.elementor-element-c614f1b {
		width: 29.332%;
	}
}

@media(max-width:1024px) {
	.elementor-3974 .elementor-element.elementor-element-dbc07f7>.elementor-shape-bottom svg {
		height: 70px;
	}

	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h1,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h2,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h3,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h4,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h5,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h6,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text div,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text span,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text p {
		font-size: 55px;
	}

	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h1,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h2,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h3,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h4,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h5,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h6,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text div,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text span,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text p {
		font-size: 55px;
	}

	.elementor-3974 .elementor-element.elementor-element-880356d>.elementor-element-populated {
		padding: 0px 40px 0px 0px;
	}

	.elementor-3974 .elementor-element.elementor-element-931eb07 .post-header h5 {
		font-size: 22px;
	}

	.elementor-3974 .elementor-element.elementor-element-2f4492f .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-3974 .elementor-element.elementor-element-2f4492f:not(.elementor-widget-image) .elementor-widget-container {
		-webkit-mask-size: 137%;
	}

	.elementor-3974 .elementor-element.elementor-element-2f4492f.elementor-widget-image .elementor-widget-container img {
		-webkit-mask-size: 137%;
	}

	.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-3974 .elementor-element.elementor-element-01d4ddd .elementor-icon-list-item>a {
		font-size: 14px;
	}

	.elementor-3974 .elementor-element.elementor-element-a1deeb1 .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-3974 .elementor-element.elementor-element-a1deeb1:not(.elementor-widget-image) .elementor-widget-container {
		-webkit-mask-size: 134%;
	}

	.elementor-3974 .elementor-element.elementor-element-a1deeb1.elementor-widget-image .elementor-widget-container img {
		-webkit-mask-size: 134%;
	}

	.elementor-3974 .elementor-element.elementor-element-9d0afa7 {
		--icon-size: 20px;
	}

	.elementor-3974 .elementor-element.elementor-element-9d0afa7>.elementor-widget-container {
		margin: 20px 0px 40px 0px;
	}

	.elementor-3974 .elementor-element.elementor-element-c176b5f .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-3974 .elementor-element.elementor-element-c176b5f:not(.elementor-widget-image) .elementor-widget-container {
		-webkit-mask-size: 168%;
	}

	.elementor-3974 .elementor-element.elementor-element-c176b5f.elementor-widget-image .elementor-widget-container img {
		-webkit-mask-size: 168%;
	}
}

@media(max-width:767px) {
	.elementor-3974 .elementor-element.elementor-element-dbc07f7>.elementor-shape-bottom svg {
		height: 55px;
	}

	.elementor-3974 .elementor-element.elementor-element-dbc07f7 {
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 80px 0px 80px 0px;
	}

	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h1,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h2,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h3,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h4,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h5,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text h6,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text div,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text span,
	.elementor-3974 .elementor-element.elementor-element-6126582 .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h1,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h2,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h3,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h4,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h5,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text h6,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text div,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text span,
	.elementor-3974 .elementor-element.elementor-element-d941841 .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-3974 .elementor-element.elementor-element-880356d>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-3974 .elementor-element.elementor-element-c614f1b>.elementor-element-populated {
		margin: 0px 0px 40px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 60px 0px;
	}

	.elementor-3974 .elementor-element.elementor-element-9d0afa7 .elementor-widget-container {
		text-align: left;
	}

	.elementor-3974 .elementor-element.elementor-element-9d0afa7>.elementor-widget-container {
		margin: 20px 0px 20px 0px;
	}
}