.elementor-3463 .elementor-element.elementor-element-4cb3da3>.elementor-container {
	min-height: 800px;
}

.elementor-3463 .elementor-element.elementor-element-4cb3da3 {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-3463 .elementor-element.elementor-element-4cb3da3:not(.elementor-motion-effects-element-type-background),
.elementor-3463 .elementor-element.elementor-element-4cb3da3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
	background-image: url("../images/woman-yoga-practice-pose-training-concept-XS33W792.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
}

.elementor-3463 .elementor-element.elementor-element-4cb3da3>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-3463 .elementor-element.elementor-element-f7a577f.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-3463 .elementor-element.elementor-element-f7a577f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-3463 .elementor-element.elementor-element-f7a577f>.elementor-element-populated {
	margin: 180px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text {
	text-align: left;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h1,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h2,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h3,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h4,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h5,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h6,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text div,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text span,
.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text {
	text-align: left;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h1 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h2 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h3 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h4 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h5 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h6 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text div {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text span {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text p {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h1,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h2,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h3,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h4,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h5,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h6,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text div,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text span,
.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text {
	text-align: left;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h1,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h2,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h3,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h4,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h5,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text h6,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text div,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text span,
.elementor-3463 .elementor-element.elementor-element-93ef934 .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 18px;
	line-height: 1.3em;
}

.elementor-3463 .elementor-element.elementor-element-93ef934>.elementor-widget-container {
	margin: 40px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text {
	text-align: left;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h1,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h2,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h3,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h4,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h5,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text h6,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text div,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text span,
.elementor-3463 .elementor-element.elementor-element-6d7e90e .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 18px;
	line-height: 1.3em;
}

.elementor-3463 .elementor-element.elementor-element-6d7e90e>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-778d087 .elementor-icon-list-icon i {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-3463 .elementor-element.elementor-element-778d087 .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	transition: fill 0.3s;
}

.elementor-3463 .elementor-element.elementor-element-778d087 {
	--e-icon-list-icon-size: 28px;
	--icon-vertical-offset: 0px;
	width: auto;
	max-width: auto;
}

.elementor-3463 .elementor-element.elementor-element-778d087 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-3463 .elementor-element.elementor-element-778d087 .elementor-icon-list-item>a {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-3463 .elementor-element.elementor-element-778d087 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-3463 .elementor-element.elementor-element-778d087>.elementor-widget-container {
	margin: 55px 0px 0px 0px;
}

.elementor-element.elementor-element-778d087 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-778d087 {
	opacity: 0;
}

.elementor-3463 .elementor-element.elementor-element-e656825:not(.elementor-motion-effects-element-type-background),
.elementor-3463 .elementor-element.elementor-element-e656825>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(90deg, #FFFFFF 0%, #ECECEC 100%);
}

.elementor-3463 .elementor-element.elementor-element-e656825 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-3463 .elementor-element.elementor-element-e656825>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3463 .elementor-element.elementor-element-69bc8af>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-b9516e6 img {
	border-radius: 15px 15px 15px 15px;
}

.elementor-3463 .elementor-element.elementor-element-b9516e6>.elementor-widget-container {
	margin: 100px 0px 100px 0px;
}

.elementor-3463 .elementor-element.elementor-element-b9516e6 {
	width: var(--container-widget-width, 120%);
	max-width: 120%;
	--container-widget-width: 120%;
	--container-widget-flex-grow: 0;
	top: -4%;
}

body:not(.rtl) .elementor-3463 .elementor-element.elementor-element-b9516e6 {
	left: -20%;
}

body.rtl .elementor-3463 .elementor-element.elementor-element-b9516e6 {
	right: -20%;
}

.elementor-bc-flex-widget .elementor-3463 .elementor-element.elementor-element-79b9af4.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-3463 .elementor-element.elementor-element-79b9af4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-3463 .elementor-element.elementor-element-79b9af4>.elementor-element-populated {
	padding: 60px 80px 100px 80px;
}

.elementor-element.elementor-element-79b9af4 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-79b9af4 {
	opacity: 0;
}

.elementor-3463 .elementor-element.elementor-element-8421614 .elementor-heading-title {
	color: #000000;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3463 .elementor-element.elementor-element-8421614>.elementor-widget-container {
	margin: 40px 0px 30px 0px;
}

.elementor-element.elementor-element-3d6b26c {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-3d6b26c {
	opacity: 0;
}

.elementor-3463 .elementor-element.elementor-element-e033747:not(.elementor-motion-effects-element-type-background),
.elementor-3463 .elementor-element.elementor-element-e033747>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-3463 .elementor-element.elementor-element-e033747 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-e033747>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3463 .elementor-element.elementor-element-2db8d5b.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-3463 .elementor-element.elementor-element-2db8d5b>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text {
	text-align: center;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h1,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h2,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h3,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h4,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h5,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h6,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text div,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text span,
.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text {
	text-align: center;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h1 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h2 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h3 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h4 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h5 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h6 {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text div {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text span {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text p {
	color: #A6FF00;
}

.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h1,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h2,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h3,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h4,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h5,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h6,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text div,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text span,
.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3463 .elementor-element.elementor-element-06fd125 .vive-gallery-grid-content-wrapper .gallery-grid-item {
	border-width: 0px;
}

.elementor-3463 .elementor-element.elementor-element-06fd125 .vive-gallery-grid-content-wrapper div.gallery-grid-item {
	border-color: #ffffff;
	border-radius: 0px;
}

.elementor-3463 .elementor-element.elementor-element-06fd125 .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
	background: rgba(0, 0, 0, 0.2);
}

.elementor-3463 .elementor-element.elementor-element-06fd125 .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
	color: #ffffff;
}

.elementor-3463 .elementor-element.elementor-element-06fd125>.elementor-widget-container {
	margin: 60px 0px 0px 0px;
}

.elementor-3463 .elementor-element.elementor-element-d3fd230 .elementor-heading-title {
	color: #000000;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.elementor-3463 .elementor-element.elementor-element-d3fd230>.elementor-widget-container {
	margin: -20px 0px 0px 0px;
	padding: 10px 20px 10px 20px;
	background-color: #A6FF00;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3463 .elementor-element.elementor-element-d3fd230 {
	width: auto;
	max-width: auto;
	z-index: 2;
}

@media(min-width:768px) {
	.elementor-3463 .elementor-element.elementor-element-f7a577f {
		width: 75%;
	}

	.elementor-3463 .elementor-element.elementor-element-0f2b4ab {
		width: 24.665%;
	}
}

@media(max-width:1024px) {
	.elementor-3463 .elementor-element.elementor-element-4cb3da3>.elementor-container {
		min-height: 600px;
	}

	.elementor-3463 .elementor-element.elementor-element-4cb3da3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text p {
		font-size: 60px;
	}

	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text p {
		font-size: 60px;
	}

	.elementor-3463 .elementor-element.elementor-element-778d087>.elementor-widget-container {
		margin: 33px 0px 0px 10px;
	}

	.elementor-3463 .elementor-element.elementor-element-e656825 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-3463 .elementor-element.elementor-element-79b9af4>.elementor-element-populated {
		padding: 40px 40px 40px 40px;
	}

	.elementor-3463 .elementor-element.elementor-element-8421614 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-3463 .elementor-element.elementor-element-8421614>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text p {
		font-size: 55px;
	}

	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text p {
		font-size: 55px;
	}
}

@media(max-width:767px) {

	.elementor-3463 .elementor-element.elementor-element-4cb3da3:not(.elementor-motion-effects-element-type-background),
	.elementor-3463 .elementor-element.elementor-element-4cb3da3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
	}

	.elementor-3463 .elementor-element.elementor-element-f7a577f>.elementor-element-populated {
		margin: 100px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 20px 0px 20px;
	}

	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-be52be0 .themegoods-animated-text p {
		font-size: 45px;
	}

	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-8b60cd8 .themegoods-animated-text p {
		font-size: 45px;
	}

	.elementor-3463 .elementor-element.elementor-element-e656825 {
		padding: 0px 0px 60px 0px;
	}

	.elementor-3463 .elementor-element.elementor-element-69bc8af>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-3463 .elementor-element.elementor-element-b9516e6 img {
		border-radius: 15px 15px 15px 15px;
	}

	.elementor-3463 .elementor-element.elementor-element-79b9af4>.elementor-element-populated {
		padding: 20px 20px 0px 20px;
	}

	.elementor-3463 .elementor-element.elementor-element-8421614 {
		text-align: center;
	}

	.elementor-3463 .elementor-element.elementor-element-e033747 {
		padding: 60px 0px 60px 0px;
	}

	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-7898836 .themegoods-animated-text p {
		font-size: 40px;
	}

	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h1,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h2,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h3,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h4,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h5,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text h6,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text div,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text span,
	.elementor-3463 .elementor-element.elementor-element-5659c00 .themegoods-animated-text p {
		font-size: 40px;
	}
}