.elementor-3878 .elementor-element.elementor-element-58f2325 {
	padding: 80px 0px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-222cbf1.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-3878 .elementor-element.elementor-element-222cbf1>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-67e9b00 {
	text-align: center;
}

.elementor-3878 .elementor-element.elementor-element-67e9b00 .elementor-heading-title {
	color: #000000;
	font-family: "Montserrat", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 75px;
}

.elementor-3878 .elementor-element.elementor-element-67e9b00>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-0f4d20f {
	text-align: center;
}

.elementor-3878 .elementor-element.elementor-element-0f4d20f .elementor-heading-title {
	color: #000000;
	font-family: "Montserrat", Sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 75px;
}

.elementor-3878 .elementor-element.elementor-element-9a22c80 {
	margin-top: 60px;
	margin-bottom: 0px;
}

.elementor-3878 .elementor-element.elementor-element-919da2c>.elementor-element-populated {
	padding: 0px 60px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-featured-image-hover,
.elementor-3878 .elementor-element.elementor-element-617edd3 .type-post.blog-posts-grid_no_space,
.elementor-3878 .elementor-element.elementor-element-617edd3 .type-post.blog-posts-metro_no_space {
	border-radius: 15px;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-header h5 a {
	color: #000000;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-header h5 {
	font-family: "Montserrat", Sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-info-cat a {
	color: #00000061;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-detail.single-post {
	font-family: "Montserrat", Sans-serif;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-header-wrapper>p {
	color: #000000;
	font-family: "Montserrat", Sans-serif;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 a.continue-reading {
	color: #000000;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-featured-date-wrapper {
	font-family: "Montserrat", Sans-serif;
	background: #ffffff;
	border-radius: 15px;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-featured-date {
	color: #000000;
}

.elementor-3878 .elementor-element.elementor-element-617edd3 .post-featured-month {
	color: #000000;
}

.elementor-3878 .elementor-element.elementor-element-288a8e8>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-e9fab7f .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Montserrat", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
}

.elementor-3878 .elementor-element.elementor-element-e9fab7f>.elementor-widget-container {
	padding: 10px 10px 10px 020px;
	background-color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3878 .elementor-element.elementor-element-e9fab7f:not(.elementor-widget-image) .elementor-widget-container {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3878 .elementor-element.elementor-element-e9fab7f.elementor-widget-image .elementor-widget-container img {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px/2);
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px/2);
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(10px/2);
	margin-left: calc(10px/2);
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px/2);
	margin-left: calc(-10px/2);
}

body.rtl .elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-10px/2);
}

body:not(.rtl) .elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-10px/2);
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-3878 .elementor-element.elementor-element-00a5210 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-text {
	color: #000000;
	transition: color 0.3s;
}

.elementor-3878 .elementor-element.elementor-element-00a5210>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-1281f4b .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Montserrat", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
}

.elementor-3878 .elementor-element.elementor-element-1281f4b>.elementor-widget-container {
	margin: 60px 0px 0px 0px;
	padding: 10px 10px 10px 020px;
	background-color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3878 .elementor-element.elementor-element-1281f4b:not(.elementor-widget-image) .elementor-widget-container {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 158%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3878 .elementor-element.elementor-element-1281f4b.elementor-widget-image .elementor-widget-container img {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 158%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3878 .elementor-element.elementor-element-8742329 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 22px;
	--grid-column-gap: 25px;
	--grid-row-gap: 0px;
}

.elementor-3878 .elementor-element.elementor-element-8742329 .elementor-widget-container {
	text-align: left;
}

.elementor-3878 .elementor-element.elementor-element-8742329 .elementor-social-icon {
	background-color: #00000000;
	--icon-padding: 0em;
}

.elementor-3878 .elementor-element.elementor-element-8742329 .elementor-social-icon i {
	color: #000000;
}

.elementor-3878 .elementor-element.elementor-element-8742329 .elementor-social-icon svg {
	fill: #000000;
}

.elementor-3878 .elementor-element.elementor-element-8742329>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3878 .elementor-element.elementor-element-65abc6e .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Montserrat", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0px;
}

.elementor-3878 .elementor-element.elementor-element-65abc6e>.elementor-widget-container {
	margin: 60px 0px 0px 0px;
	padding: 10px 10px 10px 020px;
	background-color: #000000;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #000000;
	border-radius: 5px 5px 5px 5px;
}

.elementor-3878 .elementor-element.elementor-element-65abc6e:not(.elementor-widget-image) .elementor-widget-container {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3878 .elementor-element.elementor-element-65abc6e.elementor-widget-image .elementor-widget-container img {
	-webkit-mask-image: url(../fonts/hexagon.svg);
	-webkit-mask-size: 200%;
	-webkit-mask-position: bottom right;
	-webkit-mask-repeat: repeat-x;
}

.elementor-3878 .elementor-element.elementor-element-07c021b .vive-gallery-grid-content-wrapper .gallery-grid-item {
	border-width: 0px;
	border-radius: 5px;
}

.elementor-3878 .elementor-element.elementor-element-07c021b .vive-gallery-grid-content-wrapper div.gallery-grid-item {
	border-color: #ffffff;
}

.elementor-3878 .elementor-element.elementor-element-07c021b .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .bg-overlay {
	background: rgba(0, 0, 0, 0.2);
}

.elementor-3878 .elementor-element.elementor-element-07c021b .vive-gallery-grid-content-wrapper .gallery-grid-item:hover .gallery-grid-title {
	color: #ffffff;
}

.elementor-3878 .elementor-element.elementor-element-07c021b>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-3878 .elementor-element.elementor-element-919da2c {
		width: 70%;
	}

	.elementor-3878 .elementor-element.elementor-element-288a8e8 {
		width: 29.332%;
	}
}

@media(max-width:1024px) {
	.elementor-3878 .elementor-element.elementor-element-67e9b00 .elementor-heading-title {
		font-size: 60px;
		line-height: 60px;
	}

	.elementor-3878 .elementor-element.elementor-element-0f4d20f .elementor-heading-title {
		font-size: 60px;
		line-height: 60px;
	}

	.elementor-3878 .elementor-element.elementor-element-919da2c>.elementor-element-populated {
		padding: 0px 40px 0px 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-617edd3 .post-header h5 {
		font-size: 22px;
	}

	.elementor-3878 .elementor-element.elementor-element-e9fab7f .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-3878 .elementor-element.elementor-element-e9fab7f:not(.elementor-widget-image) .elementor-widget-container {
		-webkit-mask-size: 137%;
	}

	.elementor-3878 .elementor-element.elementor-element-e9fab7f.elementor-widget-image .elementor-widget-container img {
		-webkit-mask-size: 137%;
	}

	.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-3878 .elementor-element.elementor-element-00a5210 .elementor-icon-list-item>a {
		font-size: 14px;
	}

	.elementor-3878 .elementor-element.elementor-element-1281f4b .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-3878 .elementor-element.elementor-element-1281f4b:not(.elementor-widget-image) .elementor-widget-container {
		-webkit-mask-size: 134%;
	}

	.elementor-3878 .elementor-element.elementor-element-1281f4b.elementor-widget-image .elementor-widget-container img {
		-webkit-mask-size: 134%;
	}

	.elementor-3878 .elementor-element.elementor-element-8742329 {
		--icon-size: 20px;
	}

	.elementor-3878 .elementor-element.elementor-element-8742329>.elementor-widget-container {
		margin: 20px 0px 40px 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-65abc6e .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-3878 .elementor-element.elementor-element-65abc6e:not(.elementor-widget-image) .elementor-widget-container {
		-webkit-mask-size: 168%;
	}

	.elementor-3878 .elementor-element.elementor-element-65abc6e.elementor-widget-image .elementor-widget-container img {
		-webkit-mask-size: 168%;
	}
}

@media(max-width:767px) {
	.elementor-3878 .elementor-element.elementor-element-58f2325 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-67e9b00 .elementor-heading-title {
		font-size: 40px;
		line-height: 50px;
	}

	.elementor-3878 .elementor-element.elementor-element-67e9b00>.elementor-widget-container {
		margin: 40px 0px 0px 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-0f4d20f .elementor-heading-title {
		font-size: 40px;
		line-height: 50px;
	}

	.elementor-3878 .elementor-element.elementor-element-9a22c80 {
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-919da2c>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-288a8e8>.elementor-element-populated {
		margin: -40px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 60px 0px;
	}

	.elementor-3878 .elementor-element.elementor-element-8742329 .elementor-widget-container {
		text-align: left;
	}

	.elementor-3878 .elementor-element.elementor-element-8742329>.elementor-widget-container {
		margin: 20px 0px 20px 0px;
	}
}