.elementor-3100 .elementor-element.elementor-element-086c6dd>.elementor-container {
	min-height: 800px;
}

.elementor-3100 .elementor-element.elementor-element-086c6dd {
	overflow: hidden;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-086c6dd:not(.elementor-motion-effects-element-type-background),
.elementor-3100 .elementor-element.elementor-element-086c6dd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
	background-image: url("../images/sportive-woman-holding-a-fitness-ball-4Z6W8LX.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-3100 .elementor-element.elementor-element-086c6dd>.elementor-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(90deg, #000000 0%, #00000000 100%);
	opacity: 0.3;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-3100 .elementor-element.elementor-element-02aa59c.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-3100 .elementor-element.elementor-element-02aa59c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-3100 .elementor-element.elementor-element-02aa59c>.elementor-element-populated {
	margin: 220px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text {
	text-align: left;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h1 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h2 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h3 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h4 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h5 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h6 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text div {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text span {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text p {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h1,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h2,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h3,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h4,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h5,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h6,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text div,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text span,
.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text {
	text-align: left;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h1,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h2,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h3,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h4,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h5,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h6,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text div,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text span,
.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text {
	text-align: left;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h1,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h2,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h3,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h4,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h5,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text h6,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text div,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text span,
.elementor-3100 .elementor-element.elementor-element-0c80fbe .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 18px;
	line-height: 1.3em;
}

.elementor-3100 .elementor-element.elementor-element-0c80fbe>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text {
	text-align: left;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h1,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h2,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h3,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h4,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h5,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text h6,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text div,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text span,
.elementor-3100 .elementor-element.elementor-element-b264253 .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 18px;
	line-height: 1.3em;
}

.elementor-3100 .elementor-element.elementor-element-b264253>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0px;
	fill: #000000;
	color: #000000;
	background-color: #A6FF00;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #A6FF00;
	border-radius: 250px 250px 250px 250px;
	padding: 21px 40px 18px 40px;
}

.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button:hover,
.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button:focus {
	color: #000000;
	background-color: #9EF300;
	border-color: #9EF300;
}

.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button:hover svg,
.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button:focus svg {
	fill: #000000;
}

.elementor-3100 .elementor-element.elementor-element-0468837>.elementor-widget-container {
	margin: 40px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-0468837 {
	width: auto;
	max-width: auto;
}

.elementor-element.elementor-element-0468837 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 700ms !important;
}

.elementor-widget.elementor-element-0468837 {
	opacity: 0;
}

.elementor-3100 .elementor-element.elementor-element-9e2a181:not(.elementor-motion-effects-element-type-background),
.elementor-3100 .elementor-element.elementor-element-9e2a181>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-3100 .elementor-element.elementor-element-9e2a181 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 100px 0px;
}

.elementor-3100 .elementor-element.elementor-element-9e2a181>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-66e607a>.elementor-element-populated {
	padding: 0% 10% 0% 10%;
}

.elementor-element.elementor-element-66e607a {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 0ms !important;
}

.elementor-widget.elementor-element-66e607a {
	opacity: 0;
}

.elementor-3100 .elementor-element.elementor-element-edc6002 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 28px;
	line-height: 1.4em;
}

.elementor-3100 .elementor-element.elementor-element-edc6002>.elementor-widget-container {
	margin: 0px 0px 60px 0px;
}

.elementor-3100 .elementor-element.elementor-element-77151e9>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-424abd0 .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-3100 .elementor-element.elementor-element-2d4a7e3 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3100 .elementor-element.elementor-element-2d4a7e3>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-2371749>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-11a51e1 .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-3100 .elementor-element.elementor-element-febccb9 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3100 .elementor-element.elementor-element-febccb9>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-7539d5e>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-8d4f54a .elementor-heading-title {
	color: #FFFFFF9C;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-3100 .elementor-element.elementor-element-5136c75 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}

.elementor-3100 .elementor-element.elementor-element-5136c75>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-6a6d1d1:not(.elementor-motion-effects-element-type-background),
.elementor-3100 .elementor-element.elementor-element-6a6d1d1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-3100 .elementor-element.elementor-element-6a6d1d1 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
}

.elementor-3100 .elementor-element.elementor-element-6a6d1d1>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-73cb44e>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-723968d img {
	border-radius: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-723968d>.elementor-widget-container {
	margin: 40px 0px 40px 0px;
}

.elementor-bc-flex-widget .elementor-3100 .elementor-element.elementor-element-679a8e3.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-3100 .elementor-element.elementor-element-679a8e3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-3100 .elementor-element.elementor-element-679a8e3>.elementor-element-populated {
	padding: 60px 100px 60px 100px;
}

.elementor-element.elementor-element-679a8e3 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 200ms !important;
}

.elementor-widget.elementor-element-679a8e3 {
	opacity: 0;
}

.elementor-3100 .elementor-element.elementor-element-09ac4e1 img {
	width: 40px;
}

.elementor-3100 .elementor-element.elementor-element-09ac4e1>.elementor-widget-container {
	margin: 0px 0px 40px 0px;
	padding: 25px 20px 25px 20px;
	background-color: #A6FF00;
	border-radius: 250px 250px 250px 250px;
	box-shadow: 0px 2px 50px 0px rgba(166.00000000000003, 255, 0, 0.66);
}

.elementor-3100 .elementor-element.elementor-element-09ac4e1 {
	width: auto;
	max-width: auto;
}

.elementor-element.elementor-element-09ac4e1 {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 150ms !important;
}

.elementor-widget.elementor-element-09ac4e1 {
	opacity: 0;
}

.elementor-3100 .elementor-element.elementor-element-a65cdb9 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-3100 .elementor-element.elementor-element-a65cdb9>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-47fe4f0 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-3100 .elementor-element.elementor-element-47fe4f0>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-d03d2c6 .elementor-heading-title {
	color: #A6FF00;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-3100 .elementor-element.elementor-element-d03d2c6>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-7e84d1d {
	margin-top: 30px;
	margin-bottom: 0px;
}

.elementor-3100 .elementor-element.elementor-element-39d03d2>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px/2);
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px/2);
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(10px/2);
	margin-left: calc(10px/2);
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px/2);
	margin-left: calc(-10px/2);
}

body.rtl .elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-10px/2);
}

body:not(.rtl) .elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-10px/2);
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-icon i {
	color: #A6FF00;
	transition: color 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-icon svg {
	fill: #A6FF00;
	transition: fill 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 {
	--e-icon-list-icon-size: 18px;
	--icon-vertical-offset: 0px;
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-item>a {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-6a57f05>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-d98e991>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(10px/2);
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(10px/2);
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(10px/2);
	margin-left: calc(10px/2);
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-10px/2);
	margin-left: calc(-10px/2);
}

body.rtl .elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-10px/2);
}

body:not(.rtl) .elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-10px/2);
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-icon i {
	color: #A6FF00;
	transition: color 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-icon svg {
	fill: #A6FF00;
	transition: fill 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 {
	--e-icon-list-icon-size: 18px;
	--icon-vertical-offset: 0px;
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-item>a {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-a8f6043>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-b5944d3:not(.elementor-motion-effects-element-type-background),
.elementor-3100 .elementor-element.elementor-element-b5944d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-3100 .elementor-element.elementor-element-b5944d3 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 60px 0px;
}

.elementor-3100 .elementor-element.elementor-element-b5944d3>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-09433aa>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text {
	text-align: left;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h1 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h2 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h3 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h4 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h5 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h6 {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text div {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text span {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text p {
	color: #A6FF00;
}

.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h1,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h2,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h3,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h4,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h5,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h6,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text div,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text span,
.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3100 .elementor-element.elementor-element-1757fca>.elementor-widget-container {
	margin: 0px 0px 0px 140px;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text {
	text-align: left;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h1 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h2 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h3 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h4 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h5 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h6 {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text div {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text span {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text p {
	color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h1,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h2,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h3,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h4,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h5,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h6,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text div,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text span,
.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text p {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1em;
}

.elementor-3100 .elementor-element.elementor-element-230295c>.elementor-widget-container {
	margin: 0px 0px 0px 300px;
}

.elementor-3100 .elementor-element.elementor-element-058b1fa .elementor-button {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #02010100;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

.elementor-3100 .elementor-element.elementor-element-058b1fa>.elementor-widget-container {
	margin: 30px 0px 0px 300px;
}

.elementor-element.elementor-element-058b1fa {
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) !important;
	transition-delay: 300ms !important;
}

.elementor-widget.elementor-element-058b1fa {
	opacity: 0;
}

.elementor-3100 .elementor-element.elementor-element-9d1db58>.elementor-container {
	min-height: 340px;
}

.elementor-3100 .elementor-element.elementor-element-9d1db58:not(.elementor-motion-effects-element-type-background),
.elementor-3100 .elementor-element.elementor-element-9d1db58>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-3100 .elementor-element.elementor-element-9d1db58 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-9d1db58>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-3100 .elementor-element.elementor-element-fe05258.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-3100 .elementor-element.elementor-element-fe05258.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-3100 .elementor-element.elementor-element-fe05258:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../images/fitness-woman-PUZ3HTN.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-element-populated,
.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-element-populated>.elementor-background-overlay,
.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-background-slideshow {
	border-radius: 15px 15px 15px 15px;
}

.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 30px 0px 0px;
	--e-column-margin-right: 30px;
	--e-column-margin-left: 0px;
	padding: 45px 30px 45px 30px;
}

.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-41a1664 .elementor-heading-title {
	color: #000000;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: none;
	line-height: 1.3em;
}

.elementor-3100 .elementor-element.elementor-element-41a1664>.elementor-widget-container {
	margin: 0% 60% 0% 0%;
}

.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: #000000;
	color: #000000;
	background-color: #A6FF00;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #A6FF00;
	border-radius: 500px 500px 500px 500px;
	padding: 14px 30px 13px 30px;
}

.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button:hover,
.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button:focus {
	color: #000000;
	background-color: #9EF300;
	border-color: #9EF300;
}

.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button:hover svg,
.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button:focus svg {
	fill: #000000;
}

.elementor-3100 .elementor-element.elementor-element-08a8d56>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-08a8d56 {
	width: auto;
	max-width: auto;
}

.elementor-bc-flex-widget .elementor-3100 .elementor-element.elementor-element-3788a8f.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-3100 .elementor-element.elementor-element-3788a8f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-3100 .elementor-element.elementor-element-3788a8f.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-3100 .elementor-element.elementor-element-3788a8f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../images/people-exercising-at-fitness-gym-2021-04-02-19-54-26-utc.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-element-populated,
.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-element-populated>.elementor-background-overlay,
.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-background-slideshow {
	border-radius: 15px 15px 15px 15px;
}

.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 55px 30px 55px 30px;
}

.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3100 .elementor-element.elementor-element-7105829 {
	text-align: right;
}

.elementor-3100 .elementor-element.elementor-element-7105829 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Space Grotesk", Sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.3em;
}

.elementor-3100 .elementor-element.elementor-element-7105829>.elementor-widget-container {
	margin: 0% 0% 0% 50%;
	padding: 20px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #FFFFFF;
	border-radius: 500px 500px 500px 500px;
	padding: 14px 30px 13px 30px;
}

.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button:hover,
.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button:focus {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button:hover svg,
.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button:focus svg {
	fill: #000000;
}

.elementor-3100 .elementor-element.elementor-element-6202a84>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-3100 .elementor-element.elementor-element-6202a84 {
	width: auto;
	max-width: auto;
}

@media(max-width:1024px) {
	.elementor-3100 .elementor-element.elementor-element-086c6dd>.elementor-container {
		min-height: 600px;
	}

	.elementor-3100 .elementor-element.elementor-element-086c6dd {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-02aa59c>.elementor-element-populated {
		margin: 160px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text p {
		font-size: 66px;
	}

	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text p {
		font-size: 66px;
	}

	.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button {
		padding: 18px 30px 16px 30px;
	}

	.elementor-3100 .elementor-element.elementor-element-0468837>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-9e2a181 {
		padding: 80px 0px 80px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-66e607a>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-edc6002 .elementor-heading-title {
		font-size: 26px;
	}

	.elementor-3100 .elementor-element.elementor-element-77151e9>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-2d4a7e3 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-3100 .elementor-element.elementor-element-2371749>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-febccb9 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-3100 .elementor-element.elementor-element-5136c75 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-3100 .elementor-element.elementor-element-6a6d1d1 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-679a8e3>.elementor-element-populated {
		padding: 0px 40px 0px 40px;
	}

	.elementor-3100 .elementor-element.elementor-element-09ac4e1 img {
		width: 40px;
	}

	.elementor-3100 .elementor-element.elementor-element-a65cdb9 .elementor-heading-title {
		font-size: 52px;
		line-height: 1.1em;
	}

	.elementor-3100 .elementor-element.elementor-element-a65cdb9>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-47fe4f0 .elementor-heading-title {
		font-size: 52px;
		line-height: 1.1em;
	}

	.elementor-3100 .elementor-element.elementor-element-47fe4f0>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-d03d2c6 .elementor-heading-title {
		font-size: 52px;
		line-height: 1.1em;
	}

	.elementor-3100 .elementor-element.elementor-element-d03d2c6>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-3100 .elementor-element.elementor-element-6a57f05 .elementor-icon-list-item>a {
		font-size: 14px;
	}

	.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-3100 .elementor-element.elementor-element-a8f6043 .elementor-icon-list-item>a {
		font-size: 14px;
	}

	.elementor-3100 .elementor-element.elementor-element-b5944d3 {
		padding: 60px 0px 60px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text p {
		font-size: 70px;
	}

	.elementor-3100 .elementor-element.elementor-element-1757fca>.elementor-widget-container {
		margin: 0px 0px 0px 100px;
	}

	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text p {
		font-size: 70px;
	}

	.elementor-3100 .elementor-element.elementor-element-230295c>.elementor-widget-container {
		margin: 0px 0px 0px 200px;
	}

	.elementor-3100 .elementor-element.elementor-element-9d1db58 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-41a1664 .elementor-heading-title {
		font-size: 24px;
		line-height: 1.4em;
	}

	.elementor-3100 .elementor-element.elementor-element-41a1664>.elementor-widget-container {
		margin: 0% 30% 0% 0%;
	}

	.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button {
		padding: 18px 30px 16px 30px;
	}

	.elementor-3100 .elementor-element.elementor-element-7105829 .elementor-heading-title {
		font-size: 24px;
		line-height: 1.4em;
	}

	.elementor-3100 .elementor-element.elementor-element-7105829>.elementor-widget-container {
		margin: 0% 0% 0% 20%;
	}

	.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button {
		padding: 18px 30px 16px 30px;
	}
}

@media(max-width:767px) {

	.elementor-3100 .elementor-element.elementor-element-086c6dd:not(.elementor-motion-effects-element-type-background),
	.elementor-3100 .elementor-element.elementor-element-086c6dd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom right;
	}

	.elementor-bc-flex-widget .elementor-3100 .elementor-element.elementor-element-02aa59c.elementor-column .elementor-widget-wrap {
		align-items: flex-end;
	}

	.elementor-3100 .elementor-element.elementor-element-02aa59c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: flex-end;
		align-items: flex-end;
	}

	.elementor-3100 .elementor-element.elementor-element-02aa59c.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-3100 .elementor-element.elementor-element-02aa59c>.elementor-element-populated {
		margin: 300px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 20px 0px 20px;
	}

	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-27e4cff .themegoods-animated-text p {
		font-size: 45px;
	}

	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-d8d5aba .themegoods-animated-text p {
		font-size: 45px;
	}

	.elementor-3100 .elementor-element.elementor-element-0468837 .elementor-button {
		padding: 16px 25px 14px 25px;
	}

	.elementor-3100 .elementor-element.elementor-element-0468837>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-9e2a181 {
		padding: 60px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-66e607a>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-3100 .elementor-element.elementor-element-edc6002 .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-3100 .elementor-element.elementor-element-77151e9>.elementor-element-populated {
		padding: 0px 0px 40px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-2371749>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 40px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-7539d5e>.elementor-element-populated {
		padding: 0px 0px 40px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-6a6d1d1 {
		padding: 0px 0px 60px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-73cb44e>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-3100 .elementor-element.elementor-element-723968d img {
		border-radius: 15px 15px 15px 15px;
	}

	.elementor-3100 .elementor-element.elementor-element-679a8e3>.elementor-element-populated {
		padding: 20px 20px 0px 20px;
	}

	.elementor-3100 .elementor-element.elementor-element-a65cdb9 {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-a65cdb9 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-3100 .elementor-element.elementor-element-47fe4f0 {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-47fe4f0 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-3100 .elementor-element.elementor-element-d03d2c6 {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-d03d2c6 .elementor-heading-title {
		font-size: 45px;
		line-height: 50px;
	}

	.elementor-3100 .elementor-element.elementor-element-39d03d2 {
		width: 50%;
	}

	.elementor-3100 .elementor-element.elementor-element-d98e991 {
		width: 50%;
	}

	.elementor-3100 .elementor-element.elementor-element-b5944d3 {
		padding: 40px 0px 60px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-1757fca .themegoods-animated-text p {
		font-size: 45px;
	}

	.elementor-3100 .elementor-element.elementor-element-1757fca>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text {
		text-align: center;
	}

	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h1,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h2,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h3,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h4,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h5,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text h6,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text div,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text span,
	.elementor-3100 .elementor-element.elementor-element-230295c .themegoods-animated-text p {
		font-size: 45px;
	}

	.elementor-3100 .elementor-element.elementor-element-230295c>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-058b1fa>.elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-9d1db58 {
		padding: 0px 0px 20px 0px;
	}

	.elementor-3100 .elementor-element.elementor-element-fe05258>.elementor-element-populated {
		margin: 0px 20px 40px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
	}

	.elementor-3100 .elementor-element.elementor-element-08a8d56 .elementor-button {
		padding: 16px 25px 14px 25px;
	}

	.elementor-3100 .elementor-element.elementor-element-3788a8f>.elementor-element-populated {
		margin: 0px 20px 0px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
	}

	.elementor-3100 .elementor-element.elementor-element-6202a84 .elementor-button {
		padding: 16px 25px 14px 25px;
	}
}

@media(min-width:768px) {
	.elementor-3100 .elementor-element.elementor-element-02aa59c {
		width: 75%;
	}

	.elementor-3100 .elementor-element.elementor-element-9c9d590 {
		width: 24.665%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-3100 .elementor-element.elementor-element-77151e9 {
		width: 33%;
	}

	.elementor-3100 .elementor-element.elementor-element-2371749 {
		width: 33%;
	}

	.elementor-3100 .elementor-element.elementor-element-7539d5e {
		width: 33%;
	}
}