.elementor-1638 .elementor-element.elementor-element-b4013c2>.elementor-container {
	min-height: 100vh;
}

.elementor-1638 .elementor-element.elementor-element-b4013c2:not(.elementor-motion-effects-element-type-background),
.elementor-1638 .elementor-element.elementor-element-b4013c2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
	background: url("../images/sportive-woman-training-TDRLHDD.jpg") 50% 50%;
	background-size: cover;
}

.elementor-1638 .elementor-element.elementor-element-b4013c2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-1638 .elementor-element.elementor-element-b4013c2>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-8162d5f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1638 .elementor-element.elementor-element-8162d5f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1638 .elementor-element.elementor-element-8162d5f>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 10px 0px 0px 90px;
}

.elementor-1638 .elementor-element.elementor-element-8162d5f>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-3f576f1 {
	text-align: left;
	width: auto;
	max-width: auto;
	top: 3%;
}

.elementor-1638 .elementor-element.elementor-element-3f576f1 img {
	width: 95px;
}

.elementor-1638 .elementor-element.elementor-element-3f576f1>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-3f576f1 {
	left: 90px;
}

body.rtl .elementor-1638 .elementor-element.elementor-element-3f576f1 {
	right: 90px;
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(0px/2);
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(0px/2);
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(0px/2);
	margin-left: calc(0px/2);
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-0px/2);
	margin-left: calc(-0px/2);
}

body.rtl .elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-0px/2);
}

body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-0px/2);
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-icon i {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	transition: fill 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-7048228 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
	width: var(--container-widget-width, 100vw);
	max-width: 100vw;
	--container-widget-width: 100vw;
	--container-widget-flex-grow: 0;
	top: 25%;
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-icon {
	padding-right: 0px;
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item>a {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2em;
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #A6FF00;
}

body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-7048228 {
	left: 90px;
}

body.rtl .elementor-1638 .elementor-element.elementor-element-7048228 {
	right: 90px;
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(50px/2);
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(50px/2);
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(50px/2);
	margin-left: calc(50px/2);
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-50px/2);
	margin-left: calc(-50px/2);
}

body.rtl .elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-50px/2);
}

body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-50px/2);
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-icon i {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	transition: fill 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-250a99b {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
	width: var(--container-widget-width, 100vw);
	max-width: 100vw;
	--container-widget-width: 100vw;
	--container-widget-flex-grow: 0;
	bottom: 5%;
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-icon {
	padding-right: 0px;
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-item>a {
	font-family: "Space Grotesk", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5em;
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-text {
	color: #FFFFFF;
	transition: color 0.3s;
}

.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #A6FF00;
}

body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-250a99b {
	left: 90px;
}

body.rtl .elementor-1638 .elementor-element.elementor-element-250a99b {
	right: 90px;
}

.elementor-1638 .elementor-element.elementor-element-5191b61 {
	--spacer-size: 100vh;
}

.elementor-1638 .elementor-element.elementor-element-3b7c0b9>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-1638 .elementor-element.elementor-element-8162d5f {
		width: 30%;
	}

	.elementor-1638 .elementor-element.elementor-element-3b7c0b9 {
		width: 69.333%;
	}
}

@media(max-width:1024px) {
	.elementor-1638 .elementor-element.elementor-element-8162d5f>.elementor-element-populated {
		padding: 0px 0px 0px 30px;
	}

	.elementor-1638 .elementor-element.elementor-element-3f576f1 img {
		width: 90px;
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-3f576f1 {
		left: 30px;
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-3f576f1 {
		right: 30px;
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(12px/2);
		margin-left: calc(12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-12px/2);
		margin-left: calc(-12px/2);
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-12px/2);
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item>a {
		font-size: 60px;
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-7048228 {
		left: 30px;
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-7048228 {
		right: 30px;
	}

	.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(12px/2);
		margin-left: calc(12px/2);
	}

	.elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-12px/2);
		margin-left: calc(-12px/2);
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-12px/2);
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-250a99b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-12px/2);
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-250a99b {
		left: 30px;
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-250a99b {
		right: 30px;
	}

	.elementor-1638 .elementor-element.elementor-element-3b7c0b9>.elementor-element-populated {
		padding: 0px 30px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-1638 .elementor-element.elementor-element-8162d5f>.elementor-element-populated {
		padding: 60px 20px 0px 20px;
	}

	.elementor-1638 .elementor-element.elementor-element-3f576f1 {
		text-align: center;
	}

	.elementor-1638 .elementor-element.elementor-element-3f576f1 img {
		width: 100px;
	}

	.elementor-1638 .elementor-element.elementor-element-3f576f1>.elementor-widget-container {
		margin: 0px 0px 10px 0px;
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-3f576f1 {
		left: 20px;
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-3f576f1 {
		right: 20px;
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 {
		--e-icon-list-icon-align: center;
		--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
	}

	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-1638 .elementor-element.elementor-element-7048228 .elementor-icon-list-item>a {
		font-size: 35px;
	}

	.elementor-1638 .elementor-element.elementor-element-7048228>.elementor-widget-container {
		padding: 0px 0px 0px 30px;
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-7048228 {
		left: 0px;
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-7048228 {
		right: 0px;
	}

	.elementor-1638 .elementor-element.elementor-element-250a99b {
		--e-icon-list-icon-align: center;
		--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
		bottom: 30px;
	}

	body:not(.rtl) .elementor-1638 .elementor-element.elementor-element-250a99b {
		left: 0px;
	}

	body.rtl .elementor-1638 .elementor-element.elementor-element-250a99b {
		right: 0px;
	}

	.elementor-1638 .elementor-element.elementor-element-3b7c0b9.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-1638 .elementor-element.elementor-element-3b7c0b9>.elementor-element-populated {
		padding: 60px 20px 60px 20px;
	}
}